@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Project Submission About Asp.netCore Mvc including Ajax</h1>
    <p>Submitted by:Manish Kumar shah</p>
</div>
