@model IEnumerable<AjaxMVCCoreCRUD.Models.User>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to POS System </h1>
    <h2>Submitted by:Manish Kumar shah</h2>
</div>
<br />
<br />
<div>
    


</div>
